# SMTP Configuration (For sending emails natively without third-party services)
PORT=5000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

# Your SMTP credentials (e.g. your Gmail address and Google App Password)
SMTP_USER=asrecovery422k5@gmail.com
SMTP_PASS=adcj lrhb wuin xxf
